@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    
}
html{
        scroll-behavior: smooth;
    }
    body{
        background-color: black;
        color: aliceblue;
        
    }
    .title{
        text-align: center;
        background: linear-gradient(to right, rgb(92, 92, 223) 20%,rgb(253, 1, 1) 40%,rgb(38, 240, 38) 60%,orange 65%,rgb(3, 3, 245) 70%,yellow 75%,pink 80%);
        background-clip: text;
        font-weight: 1000;
        color: transparent;
    }
    .intropara{
        text-align: center;
        font-size: 12px;
        color: darkgrey;
        margin-top: 20px;
    }
    .navlist1{
        display: inline;
    }
    nav{
        background-color: aqua;
        height: 40px;
        padding: 10px;
        width:530px;
        margin: 10px auto;
        border-radius: 20px;
        border: 2px ridge  blue;
    }
    .listitem{
        color: black;
        text-decoration: none;
        font-weight: 550;
        padding:  0px 10px;
    }
    .bgvid{
       width: 100%;
  }
    .sec1{
        background-color: rgb(28, 28, 104);
      border: 2px solid aqua;
      margin: 40px 10px;
      border-radius: 20px;
      padding: 30px 30px;
      box-shadow: 5px 5px 20px;

    }
    .sectitle{
        background-image: linear-gradient(0deg, hsl(297,86%,59%),hsl(342,86%,59%),hsl(27,86%,59%),hsl(72,86%,59%),hsl(117,86%,59%),hsl(162,86%,59%),hsl(207,86%,59%),hsl(252,86%,59%));
      background-clip: text;    
      color: transparent;
      font-size: 25px;
      margin-bottom: 20px;
 }
 .git{
    text-decoration: none;
    background-color: beige;
    border-radius: 5px;
    padding: 2px 5px;
   }
   .git-con{
    margin-top: 20px;

   }
   .unli{
    margin: 10px 20px 40px;
   }
   .ordlist{
    margin: 10px 20px 40px;

   }
   .desc{
  
    color: black;
    
   }
  .api, .cicd {
  display: inline-block;  
  vertical-align: top;    
  width: 45%;             
  background-color: #c1f0ec;
  border: 2px solid #ff0e0e;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  box-shadow: 3px 3px 6px #0bf3e7e1;
}
.api dt, .cicd dt {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
}

.api dd, .cicd dd {
  font-size: 16px;
  color: #0e0d0d;
}
.desc2{
    color: red;
    background-color:#c1f0ec ;
}
.desc1{
    color: #ff0e0e;
}
.project-container {
  text-align: left;  
  margin-left: 10px; 
}
.pro1, .pro2 {
  display: inline-block;  
  vertical-align: top;    
  width: 45%;             
  background-color: #c1f0ec;
  border: 2px solid #ff0e0e;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;  
  box-shadow: 0 3px 6px #0bf3e7e1;
  text-align: center;
}
.pro {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.email{
    text-decoration: none;
    padding:10px auto ;
    color: red;
   
    
}
.list{
    list-style-type: none;
  margin-right: 15px; 
  

  display: inline;
 
}
.image{
    margin: 20px 10px;
    padding: 10px 2px;
    
.click{
    text-decoration: none;
    color:rgb(209, 124, 152);
    
}
.para{
    margin: 5px;

}
.img1{
    margin: 20px auto;
}
